/* Navbar */
nav ul {
  list-style: none;
  padding-left: 670px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-family: poppins;
  font-weight: bold;
  position: relative;
}

.profile {
  padding-top: 8px;
  padding-right: 9px;
}

.profile a i {
  text-decoration: none;
  color: black;
  font-size: 33px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0% 80px;
  border-bottom: 3px solid rgb(105, 105, 105);
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0px 30px;
}
